.img-container {
    width: 100%;
    display: flex;
    background-color: var(--lightTwo);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.img-box h3{
    font-size: 32px;
    color: var(--dark);
}

.box-images{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;;
    flex-direction: row;
    gap: 25px;
    width: 85%;
}

.box-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.box-item img{
    border: 2px solid var(--blue);
}

.box-item p{
    font-size: 16px;
    text-align: center;
    color: gray;
}